body{
    margin: 0;
    background-color: rgb(203, 224, 224);
}

div#container{
    height: 100%;
    width:100%;
}

div#content{
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgb(157, 212, 212);
    width: 50%;
    height: 100%;
}

ul#menu{
    list-style-type: none;
    margin-left: 0%;
    display: inline;
}

li.menu{
    float: left;
}
  
li.exit{
    float: right;
}

li.exit:hover{
    opacity: 0.55;
}

li.menu:hover{
    opacity: 0.55;
}

a.menu{
    display: block;
    padding: 25px;
    background-color: rgb(88, 163, 163); 
    font-size: 30px;
    font-weight: bold;
    color: rgb(203, 224, 224);
    text-decoration: none;
}

div#nav{
    background-color: rgb(88, 163, 163); 
    height: 84px;
}

div#post{
    background-color: rgb(203, 224, 224);
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    width: auto;
    padding: 2.5%;
}

div.text{
    font-size: 20px;
}

div.title{
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 2%;
}